@charset "utf-8";
/* CSS Document */

/*--------以下為版面結構設定---------*/
#container {
	width: 100%;
	position: relative;	
}
#header {
	margin:15px;
	width:100%;
}
#contant, #sidebar{
	float:none;
	width: 100%;
}
#sidebar {
	float:none;
	width: 100%;
}
#site {
	float: none;
}
#iconmenu {
	float: none;
	right: 5px;
	bottom: 10px;
	position: absolute;
}
img {
	max-width: 100%;
	height: auto;
}
#nav li a {
	width:auto;
	padding:5px 8px;
}
.dat {
	float:none;
	line-height:2.5;
	padding:3px 10px;
	bord-radius:5px;
}
.dat, .dat span {
	font-size:0.75em;
	display:inline;
}
#content h2 {
	font-size:1.5em;
}

#footer {
	float:none;
	width: 100%;
}